.ew-confirmation__header .header__label,
.customization-confirmation-description,
.ew-confirmation__text-paragraph {
    text-indent: -9999px;
	line-height: 0;
}

a.ew-confirmation__link.customization-client-portal-link,
p.ew-confirmation__organizer-contact > span:nth-of-type(1) {
	text-indent: -9999px;
	line-height: 0;
	font-size: 0;
}

.ew-confirmation__header .header__label:after {
    content: "Potwierdzenie rejestracji";
	text-indent: 0;
	display: block;
	line-height: normal;
}

.customization-confirmation-description:after {
	content: "Dziękujemy za zarejestrowanie się. Wkrótce otrzymasz e-mailem potwierdzenie.";
	text-indent: 0;
	display: block;
	line-height: normal;
}

.ew-confirmation__text-paragraph:after {
	content: "Korzystając z portalu, możesz w każdej chwili przeglądać i zarządzać swoimi danymi. Aby się zalogować, musisz podać swój numer zgłoszeniowy i adres e-mail.";
	text-indent: 0;
	display: block;
	line-height: normal;
}

.customization-client-portal-link:after {
    content: "Do portalu logowania";
    text-indent: 0;
    display: block;
    line-height: normal;
    font-size: 16px;
}

p.ew-confirmation__organizer-contact span:nth-of-type(1):after {
	content: "W razie pytań zawsze możesz zwrócić się na adres";
	text-indent: 0;
	line-height: normal;
	font-size: 14px;
}
