<!-- Preview variables -->
<div class="preview-variables" style="display: none;">{{order.tickets[0].category_id}}</div>

<!-- Styling -->
<style>
    .content {
        font-family: Arial, Helvetica, sans-serif;
    }

    .container0 {
        text-align: center;
        font-size: 70pt;
    }

    .container1 {
        text-align: center;
        font-size: 15pt;
    }

    .container2 {
        text-align: center;
        font-size: 15pt;
    }

    .container3 {
        text-align: left;
        font-size: 10pt;
    }

    .container4 {
        text-align: center;
        font-size: 15pt;
        word-break: normal;
    }

    .span1 {
        font-size: 12pt;
    }
</style>

<!-- Start Ticket -->
<div class="preview-variables" style="display: none;">{{order.tickets[0].category_id}}</div>
<div class="print-area"
    style="margin: 0; padding: 0; position: relative; width: 100%; height: 100%; font-size: 12pt; font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;">

    <!-- HTML Element with the background image -->
    <div class="background"
        style="height: 100%; width: 100%; background-image: url('https://doo-product-consulting-uploads.s3.eu-central-1.amazonaws.com/Messe+Dortmund/Intertabac_Intersupply/2022_IT_Ausstellerticket_D_GB.png'); background-repeat: no-repeat; background-size: 100% auto; overflow: hidden; background-position-y: 50%; background-position-x: 0px;">

        <!-- Ticket content -->
        <div class="content" style="margin: 0cm 0cm 0cm; position: absolute; width: 21cm;">
            
            <!-- Container 0 -->
            <div class="container0" style="width: 2cm; position: absolute; left: 10.7cm; top: 17.5cm;">
                <strong>A</strong>
            </div>
            
                <!-- Container 1 -->
            <div class="container1" style="width: 10cm; position: absolute; left: 10.7cm; top: 19.9cm;">
                {% case order.tickets[0].category_id %}
                    {% when 302867%}
                    <strong> Dauer-Ausstellerausweis </strong><br />
                    (Kostenloser Dauerausweis)<br />
                    <em> <strong>Exhibitor pass </strong><br />
                    (permanent pass subject to a fee)</em>

                    {% when 302870%}
                    <strong> Ausstellerausweis </strong><br />
                    (Kostenpflichtiger Dauerausweis)<br />
                    <em><strong>Exhibitor pass </strong><br />
                    (permanent pass subject to a fee)</em>

                    {% when 302871%}
                    <strong> Ausstellerausweis </strong><br />
                    (Kostenpflichtiger Tagesausweis)<br />
                    <em><strong>Exhibitor pass </strong><br />
                    (day pass subject to a fee)</em>

                    {% else %}
                    {% endcase %}

                <br /><br />
                <strong>{{attendees[0].first_name}} {{attendees[0].last_name}}</strong>
                <br /><br />
                <strong>{{attendees[0].organization}}</strong>
            </div>

            <!-- Container 2 -->
            <div class="container2" style="width: 10cm; position: absolute; left: 10.7cm; top: 24.7cm;">
                Standnummer / <em>Stand number:</em>
                    {% for a in order.custom_questions %}
                        {% if a.question contains "Stand" and a.answer != "" %}
                            {{a.answer}}
                        {% endif %}
                    {% endfor %}
                </div>

            <!-- Container 3 -->
            <div class="container3" style="width: 8.9cm; position: absolute; left: 0.9cm; top: 18.9cm;">
                {% case order.tickets[0].category_id %}
                    {% when 302867%}
                    <strong> Dauer-Ausstellerausweis </strong><br />
                    (Kostenloser Dauerausweis)<br />
                    <em> <strong>Exhibitor pass </strong><br />
                    (permanent pass subject to a fee)</em>

                    {% when 302870%}
                    <strong> Ausstellerausweis </strong><br />
                    (Kostenpflichtiger Dauerausweis)<br />
                    <em><strong>Exhibitor pass </strong><br />
                    (permanent pass subject to a fee)</em>

                    {% when 302871%}
                    <strong> Ausstellerausweis </strong><br />
                    (Kostenpflichtiger Tagesausweis)<br />
                    <em><strong>Exhibitor pass </strong><br />
                    (day pass subject to a fee)</em>

                    {% else %}
                    {% endcase %}
                <br />
                {{event.start_date | date:'%d.%m.%Y'}} - {{event.end_date | date:'%d.%m.%Y'}}<br />
                {{attendees[0].ticket.name}}
            </div>

            <!-- Container 4 -->
            <div class="container4" style="width: 8cm; position: absolute; left: 11.7cm; top: 26cm;"><img class="qrcode"
                    style="width: 2.35cm; height: 2.35cm;"
                    src="https://api.qrserver.com/v1/create-qr-code/?&amp;data={{event.custom_fields.5967}}{{attendees[0].ticket.qrcode | remove: 'https://doo.net/checkin/'}}&amp;size=190x190" />
                <br /><span class="span1">{{event.custom_fields.5967}}{{attendees[0].ticket.qrcode |
                    remove:'https://doo.net/checkin/'}}</span></div>
        </div>
    </div>
</div>
