.booking-editing-auth vv-heading:after{
    content:"Please enter your login details";
    text-indent: 0;
	line-height: normal;
	font-size:16px;
	color: rgb(52, 58, 63);
	font-weight:700;	
}

.booking-editing-auth vv-input[name="bookingId"] label p:after {
    content:"Registration number";
    text-indent: 0;
	line-height: normal;
	font-size:16px;
    display:block;
}

.booking-editing-auth vv-input[name="bookingId"] + vv-show-errors .error-text:after {
    content:"Please enter a valid booking number";
	font-size:12px;
}

.booking-editing-auth vv-input[name="email"] label p:after {
    content:"E-mail address";
    text-indent: 0;
	line-height: normal;
	font-size:16px;
    display:block;
}

.booking-editing-auth vv-input[name="email"] + vv-show-errors .error-text:after {
    content:"Please enter a valid email address";
	font-size:12px;
}

.booking-editing-auth vv-button:nth-of-type(1) button:after {
    content:"To selection";
	font-size:16px;
}

.booking-editing-auth vv-button:nth-of-type(2) button:after {
    content:"Next";
	font-size:16px;
}

.customization3_edit-booking_header_title:after{
    content:"My booking portal";
	font-size:14px;
}

.customization3_edit-booking_header_days-to-go vv-text:nth-of-type(1):after{
    content:"DAYS TO GO";
    text-indent: 0;
	line-height: normal;
	font-size:14px;
    display:block;
}

.customization3_edit-booking_header_days-to-go vv-text:nth-of-type(2):after{
    content:"DAYS TO GO";
    text-indent: 0;
	line-height: normal;
	font-size:14px;
    display:block;
}

.customization3_edit-booking_header_logout:after{
    content:"Unsubscribe";
	font-size:14px;
}

.customization3_edit-booking_main_booking-date_label:after{
    content:"Booked on";
	font-size:13px;
}

.booking-status--paid.customization3_edit-booking_main_booking-status:after{
    content:"Registration completed";
	font-size:16px;
}

.customization3_edit-booking_main_event_dates:after{
    content:"Saturday, 5 November, 4.30pm to 6 November 2022, 3.00am";
	font-size:13px;
}

.customization3_tab-group_tab:nth-of-type(1) .customization3_tab-group-mobile_tab_label_text:after{
    content:"Participants";
	font-size:14px;
}

.customization3_tab-group_tab:nth-of-type(2) .customization3_tab-group-mobile_tab_label_text:after{
    content:"Booker";
	font-size:14px;
}

.customization3_tab-group_tab:nth-of-type(3) .customization3_tab-group-mobile_tab_label_text:after{
    content:"Booking";
	font-size:14px;
}

.customization3_tab-group_tab:nth-of-type(4) .customization3_tab-group-mobile_tab_label_text:after{
    content:"EVENT";
	font-size:14px;
}

.customization2_attendee-1 .customization3_attendee_ticket-category_title:after{
    content:"I’m coming on my own";
	font-size:14px;
}

.customization2_attendee-2 .customization3_attendee_ticket-category_title:after{
    content:"I’m coming with a guest";
	font-size:14px;
}

.customization2_booker_contact-data_headline:after{
    content:"Contact person";
	font-size:16px;
}

.customization3_invoice-box_header_title:after{
    content:"Summary";
	font-size:16px;
}

.customization3_invoice-box_category_label:after{
    content:"DESCRIPTION";
	font-size:14px;
}

.customization3_invoice-box_quantity_label:after{
    content:"Number";
	font-size:14px;
}

.customization3_invoice-box_table-body tr:nth-of-type(1) .customization3_invoice-box_category_value .grid-element__value:after{
    content:"I’m coming on my own";
	font-size:13px;
}

.customization3_invoice-box_table-body tr:nth-of-type(2) .customization3_invoice-box_category_value .grid-element__value:after{
    content:"I’m coming with a guest";
	font-size:13px;
}

.customization3_edit-booking_event_dates:after{
    content:"Saturday, 5 November, 4.30pm to 6 November 2022, 3.00am";
	font-size:14px;
}

.customization3_edit-booking_event_organizer > div:first-of-type > div:first-of-type .data-item__label:after {
	content:"EVENT";
	font-size: 13px;
}

.organizer__name.data-item__value:after {
	content:"Progroup Space Crew";
	font-size: 16px;
}

.event__contact.data-item .data-item__label:after{
	content:"Contact";
	font-size: 13px;
}

.terms__label:after{
	content:"Booking conditions";
	font-size: 13px;
}

.booking-editing-auth vv-heading,
.booking-editing-auth vv-input[name="bookingId"] label p,
.booking-editing-auth vv-input[name="email"] label p,
.customization3_edit-booking_header_days-to-go p{
	text-indent: -9999px;
	line-height: 0;
}

.booking-editing-auth vv-button button,
vv-show-errors .error-text,
.customization3_edit-booking_header_title,
.customization3_edit-booking_header_logout,
.customization3_edit-booking_main_booking-date_label,
.booking-status--paid.customization3_edit-booking_main_booking-status,
.customization3_tab-group-mobile_tab_label_text,
.customization3_attendee_ticket-category_title,
.customization2_booker_contact-data_headline,
.customization3_invoice-box_header_title,
.customization3_invoice-box_category_label,
.customization3_invoice-box_quantity_label,
.customization3_invoice-box_category_value,
.customization3_edit-booking_main_event_dates,
.customization3_edit-booking_event_dates,
.customization3_edit-booking_event_organizer > div:first-of-type > div:first-of-type .data-item__label,
.organizer__name.data-item__value,
.event__contact.data-item .data-item__label,
.terms__label {
    font-size: 0 !important;
}
