.customization-promo-code-label,
.customization-access-code-label,
ul.event-categories li .customization-category-name,
ul.event-categories li .customization-category-description,
.customization-encrypted-connection{
    font-size: 0 !important;
}

vv-booking-editing-prompt span {
    text-indent: -9999px;
    line-height: 0 !important;
    font-size: 0 !important;
}

vv-booking-editing-prompt button {
    text-indent: -9999px;
    line-height: 0;
}

ul.event-categories li:nth-of-type(1) .customization-category-name:after {
    content: "I’m coming on my own";
    font-size: 1rem;
}

ul.event-categories li:nth-of-type(2) .customization-category-name:after {
    content: "I’m coming with a guest";
    font-size: 1rem;
}

ul.event-categories:after {
    content: "You and your guest are warmly invited. Participation is free.";
    font-size: 16px;
    display: block;
    margin: 20px;
    left:50%;
    text-align:center;
}

.customization-encrypted-connection:after {
    content: "Encrypted connection";
    font-size:14px
}

vv-booking-editing-prompt span:after {
    content: "Already registered? You can log in here.";
    text-indent: 0;
    font-size: 14px;
    line-height: normal;
}

vv-booking-editing-prompt button:after {
    content: "Already registered? You can log in here.";
}
