.customization-button-next {
    font-size: 0;
}

.customization-booking-area-wrapper-page1 .customization-button-next:after{
    content:"Avanti";
    font-size: 16px;
}

.customization-booking-area-wrapper-page2 .customization-button-next:after{
    content:"Iscriviti ora";
    font-size: 16px;
}
