.customization2_attendee_title,
.customization2_summary_headline,
.customization2_attendee_count,
.customization2_attendee_contact-data_headline,
.customization2_attendee_contact-data_title_label,
.customization2_attendee_contact-data_salutation_label,
.customization2_attendee_contact-data_salutation_error,
.customization2_attendee_contact-data_first-name_label,
.customization2_attendee_contact-data_first-name_error,
.customization2_attendee_contact-data_last-name_label,
.customization2_attendee_contact-data_last-name_error,
.customization2_attendee_contact-data_email_label,
.customization2_attendee_contact-data_email_error,
.customization2_attendee_contact-data_email-confirmation_label,
.customization2_attendee_contact-data_email-confirmation_error,
.customization2_attendee_further-data_headline,
.customization2_attendee_contact-data_street_label,
.customization2_attendee_contact-data_street_error,
.customization2_attendee_contact-data_street-number_label,
.customization2_attendee_contact-data_street-number_error,
.customization2_attendee_contact-data_zip_label,
.customization2_attendee_contact-data_zip_error,
.customization2_attendee_contact-data_city_label,
.customization2_attendee_contact-data_city_error,
.customization2_attendee_contact-data_country_label,
.customization2_attendee_contact-data_country_error,
.customization2_attendee_contact-data_company_label,
.customization2_attendee_contact-data_company_error,
.customization2_attendee_further-data_custom-question_error,
.customization2_attendee_edit-action_save,
.customization2_attendee_edit-action_cancel,
.customization-button-previous,
.customization2_attendee_further-data_custom-question_label,
.customization2_attendee_further-data_custom-question_label *,
.customization2_booking-terms_custom-term,
.customization2_booking-terms_text,
.weitereAngabenTeilnehmer p,
.customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_radio-line-1 p.vv-control-label,
.customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_radio-line-2 p.vv-control-label  {
    font-size: 0 !important;
}

.customization2_attendee_contact-data_title_label *,
.customization2_attendee_contact-data_email_label * {
    display:none
}

.customization2_attendee_further-data_custom-question_error:after,
.customization2_attendee_contact-data_city_error:after,
.customization2_attendee_contact-data_zip_error:after,
.customization2_attendee_contact-data_street-number_error:after,
.customization2_attendee_contact-data_street_error:after,
.customization2_attendee_contact-data_email-confirmation_error:after,
.customization2_attendee_contact-data_email_error:after,
.customization2_attendee_contact-data_last-name_error:after,
.customization2_attendee_contact-data_first-name_error:after,
.customization2_attendee_contact-data_salutation_error:after{
    content: "Missing 3";
    text-indent: 0;
    display: block;
    line-height: initial;
    margin-top: -15px;
}


.customization2_attendee_contact-data_headline {
    text-indent: -9999px;
    line-height: 0;
}

.customization2_attendee-1 .customization2_attendee_title:after {
    content: "64";
    font-size: 16px;
}

.customization2_attendee_contact-data_headline::after {
    content: "66";
    text-indent: 0px;
    display: block;
    line-height: initial;
}

.customization2_attendee_contact-data_salutation_label:after {
    content: "67";
    font-size: 14px;
}

.customization2_attendee_contact-data_title_label:after {
    content: "73";
    font-size: 14px;
}

.customization2_attendee_contact-data_first-name_label:after {
    content: "72";
    font-size: 14px;
}

.customization2_attendee_contact-data_last-name_label:after {
    content: "76";
    font-size: 14px;
}

.customization2_attendee_contact-data_street:before {
    content: "78";
    display: block;
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 600;
    color: #343a3f;
}

.customization2_attendee_contact-data_street > vv-input::before {
    content: "79";
    display: block;
    padding-bottom: 16px;
    font-size: 14px;
    color: rgb(52, 58, 63);
}

.customization2_attendee_contact-data_street_label:after {
    content: "80";
    font-size: 14px;
}

.customization2_attendee_contact-data_street-number_label:after {
    content: "81";
    font-size: 14px;
}

.customization2_attendee_contact-data_zip_label:after {
    content: "82";
    font-size: 14px;
}

.customization2_attendee_contact-data_city_label:after {
    content: "83";
    font-size: 14px;
}

.customization2_attendee_contact-data_country_label:after {
    content: "84";
    font-size: 14px;
}

.customization2_attendee_contact-data_email_label:after {
    content: "88";
    font-size: 14px;
}

.customization2_attendee_contact-data_email-confirmation_label:after {
    content: "90";
    font-size: 14px;
}

.customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_label:after{
    content: "92";
    font-size: 14px;
}

.customization2_attendee_contact-data_email:before {
    content: "94";
    display: block;
    margin-top: 24px;
    padding-bottom: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #343a3f;
}

.weitereAngabenTeilnehmer p:after{
    content: "94";
    font-size: 1rem !important;
}

.customization2_attendee_further-data_custom-question-2 .customization2_attendee_further-data_custom-question_label:after{
    content: "96";
    font-size: 14px;
}

.customization2_attendee_further-data_custom-question-3 .customization2_attendee_further-data_custom-question_label:after{
    content: "99";
    font-size: 14px;
}

.customization2_attendee_further-data_custom-question-4 .customization2_attendee_further-data_custom-question_label:after{
    content: "Missing 1";
    font-size: 14px;
}

.customization2_attendee-1 .customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_label:after{
    content: "102";
    font-size: 14px;
}

.customization2_attendee-2 .customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_label:after{
    content: "128";
    font-size: 14px;
}

.customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_radio-line-1 p.vv-control-label:after{
    content: "103";
    font-size: 14px;
}

.customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_radio-line-2 p.vv-control-label:after{
    content: "104";
    font-size: 14px;
}

.customization2_attendee_further-data_custom-question-6 .customization2_attendee_further-data_custom-question_label:after{
    content: "105";
    font-size: 14px;
}

.customization2_attendee_edit-action_save:after {
    content: "107";
    font-size: 14px;
}

.customization2_attendee-2 .customization2_attendee_title:after {
    content: "110";
    font-size: 16px;
}

.customization-button-previous:after {
    content: "170";
    font-size: 16px;
}

.customization2_attendee_edit-action_cancel:after {
    content: "Missing 2";
    font-size: 16px;
}


.customization2_attendee-2 .customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_label:after{
    content: "330";
    font-size: 14px;
}

.customization2_attendee-2 .customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_radio-line-1 p.vv-control-label:after{
    content: "331";
    font-size: 14px;
}

.customization2_attendee-2 .customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_radio-line-2 p.vv-control-label:after{
    content: "332";
    font-size: 14px;
}

.customization2_attendee-2 .customization2_attendee_further-data_custom-question-2 .customization2_attendee_further-data_custom-question_label:after{
    content: "334";
    font-size: 14px;
}

.custom_terms_checkbox .customization2_booking-terms_text:after {
    content: "352";
    font-size: 14px
}

.customization2_booking-terms_text:after {
    content: "353";
    font-size: 14px
}

.customization2_booking-terms_custom-term-1:after {
    content: "354";
    font-size: 14px;
}

.customization2_booking-terms_custom-term-2:after {
    content: "355";
    font-size: 14px;
}

.customization2_booking-terms_custom-term-3:after {
    content: "356";
    font-size: 14px;
}

