.customization-promo-code-label,
.customization-access-code-label,
ul.event-categories li .customization-category-name,
ul.event-categories li .customization-category-description,
.customization-encrypted-connection{
    font-size: 0 !important;
}

vv-booking-editing-prompt span {
    text-indent: -9999px;
    line-height: 0 !important;
    font-size: 0 !important;
}

vv-booking-editing-prompt button {
    text-indent: -9999px;
    line-height: 0;
}

ul.event-categories li:nth-of-type(1) .customization-category-name:after {
    content: "Vengo da solo";
    font-size: 1rem;
}

ul.event-categories li:nth-of-type(2) .customization-category-name:after {
    content: "Vengo accompagnato";
    font-size: 1rem;
}

ul.event-categories:after {
    content: "Tu e il tuo accompagnatore siete invitati di cuore. La partecipazione è gratuita.";
    font-size: 16px;
    display: block;
    margin: 20px;
    left:50%;
    text-align:center;
}

.customization-encrypted-connection:after {
    content: "Collegamento cifrato";
    font-size:14px
}

vv-booking-editing-prompt span:after {
    content: "Già registrato?";
    text-indent: 0;
    font-size: 14px;
    line-height: normal;
}

vv-booking-editing-prompt button:after {
    content: "Clicca qui per accedere alla tua registrazione.";
    font-size: 14px;
    line-height: normal;
    text-indent: 0;
}



