.customization2_attendee_title,
.customization2_summary_headline,
.customization2_attendee_count,
.customization2_attendee_contact-data_headline,
.customization2_attendee_contact-data_title_label,
.customization2_attendee_contact-data_salutation_label,
.customization2_attendee_contact-data_salutation_error,
.customization2_attendee_contact-data_first-name_label,
.customization2_attendee_contact-data_first-name_error,
.customization2_attendee_contact-data_last-name_label,
.customization2_attendee_contact-data_last-name_error,
.customization2_attendee_contact-data_email_label,
.customization2_attendee_contact-data_email_error,
.customization2_attendee_contact-data_email-confirmation_label,
.customization2_attendee_contact-data_email-confirmation_error,
.customization2_attendee_further-data_headline,
.customization2_attendee_contact-data_street_label,
.customization2_attendee_contact-data_street_error,
.customization2_attendee_contact-data_street-number_label,
.customization2_attendee_contact-data_street-number_error,
.customization2_attendee_contact-data_zip_label,
.customization2_attendee_contact-data_zip_error,
.customization2_attendee_contact-data_city_label,
.customization2_attendee_contact-data_city_error,
.customization2_attendee_contact-data_country_label,
.customization2_attendee_contact-data_country_error,
.customization2_attendee_contact-data_company_label,
.customization2_attendee_contact-data_company_error,
.customization2_attendee_further-data_custom-question_error,
.customization2_attendee_edit-action_save,
.customization2_attendee_edit-action_cancel,
.customization-button-previous,
vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question_label,
vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question_label *,
.customization2_booking-terms_custom-term,
.customization2_booking-terms_text,
.weitereAngabenTeilnehmer p,
.customization2_attendee_further-data_custom-question_radio-line-1 p.vv-control-label,
.customization2_attendee_further-data_custom-question_radio-line-2 p.vv-control-label  {
    font-size: 0 !important;
}

.customization2_attendee_contact-data_title_label *,
.customization2_attendee_contact-data_email_label * {
    display:none
}

.customization2_attendee_contact-data_company_error:after,
.customization2_attendee_contact-data_country_error:after,
.customization2_attendee_further-data_custom-question_error:after,
.customization2_attendee_contact-data_city_error:after,
.customization2_attendee_contact-data_zip_error:after,
.customization2_attendee_contact-data_street-number_error:after,
.customization2_attendee_contact-data_street_error:after,
.customization2_attendee_contact-data_email-confirmation_error:after,
.customization2_attendee_contact-data_email_error:after,
.customization2_attendee_contact-data_last-name_error:after,
.customization2_attendee_contact-data_first-name_error:after,
.customization2_attendee_contact-data_salutation_error:after{
    content: "Si prega di compilare";
    font-size: 12px;
    margin-top: 0px;
}


.customization2_attendee_contact-data_headline {
    text-indent: -9999px;
    line-height: 0;
}

.customization2_attendee-1 .customization2_attendee_title:after {
    content: "VENGO DA SOLO";
    font-size: 16px;
}

.customization2_attendee_contact-data_headline::after {
    content: "Dati personali";
    text-indent: 0px;
    display: block;
    line-height: initial;
}

.customization2_attendee_contact-data_salutation_label:after {
    content: "Titolo";
    font-size: 14px;
}

.customization2_attendee_contact-data_title_label:after {
    content: "Titolo (opzionale)";
    font-size: 14px;
}

.customization2_attendee_contact-data_first-name_label:after {
    content: "Nome";
    font-size: 14px;
}

.customization2_attendee_contact-data_last-name_label:after {
    content: "Cognome";
    font-size: 14px;
}

.customization2_attendee_contact-data_street:before {
    content: "Indirizzo privato";
    display: block;
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 600;
    color: #343a3f;
}

.customization2_attendee_contact-data_street > vv-input::before {
    content: "(Per l’invio postale di documenti come ad es. il tuo biglietto, il programma e ulteriori informazioni)";
    display: block;
    padding-bottom: 16px;
    font-size: 14px;
    color: rgb(52, 58, 63);
}

.customization2_attendee_contact-data_street_label:after {
    content: "Via";
    font-size: 14px;
}

.customization2_attendee_contact-data_street-number_label:after {
    content: "N°:";
    font-size: 14px;
}

.customization2_attendee_contact-data_zip_label:after {
    content: "CAP";
    font-size: 14px;
}

.customization2_attendee_contact-data_city_label:after {
    content: "Luogo";
    font-size: 14px;
}

.customization2_attendee_contact-data_country_label:after {
    content: "Paese";
    font-size: 14px;
}

.customization2_attendee_contact-data_email_label:after {
    content: "Indirizzo e-mail";
    font-size: 14px;
}

.customization2_attendee_contact-data_email-confirmation_label:after {
    content: "Conferma l’indirizzo mail";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_label:after{
    content: "Telefono (opzionale)";
    font-size: 14px;
}

.customization2_attendee_contact-data_email:before {
    content: "Ulteriori indicazioni";
    display: block;
    margin-top: 24px;
    padding-bottom: 16px;
    font-size: 1rem;
    font-weight: 600;
    color: #343a3f;
}

.weitereAngabenTeilnehmer p:after{
    content: "Ulteriori indicazioni";
    font-size: 1rem !important;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question-2 .customization2_attendee_further-data_custom-question_label:after{
    content: "Stabilimento/Sito";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question-3 .customization2_attendee_further-data_custom-question_label:after{
    content: "Voglio arrivare il seguente giorno";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question-4 .customization2_attendee_further-data_custom-question_label:after{
    content: "Ho bisogno di una camera d'albergo";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee-1 .customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_label:after{
    content: "Per la cena intergalattica scelgo:";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee-2 .customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_label:after{
    content: "Il mio accompagnatore per la cena intergalattica sceglie";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_radio-line-1 p.vv-control-label:after{
    content: "Menù di pesce";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question-5 .customization2_attendee_further-data_custom-question_radio-line-2 p.vv-control-label:after{
    content: "Menù vegetariano";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee_further-data_custom-question-6 .customization2_attendee_further-data_custom-question_label:after{
    content: "Intolleranze (optional)";
    font-size: 14px;
}

.customization2_attendee_edit-action_save:after {
    content: "Salva";
    font-size: 14px;
}

.customization2_attendee-2 .customization2_attendee_title:after {
    content: "VENGO ACCOMPAGNATO";
    font-size: 16px;
}

.customization-button-previous:after {
    content: "Modifica la selezione";
    font-size: 16px;
}

.customization2_attendee_edit-action_cancel:after {
    content: "Cancella";
    font-size: 16px;
}


vv-questions .customization2_attendee-state_edit .customization2_attendee-2 .customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_label:after{
    content: "Il mio accompagnatore per la cena intergalattica sceglie";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee-2 .customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_radio-line-1 p.vv-control-label:after{
    content: "Menù di pesce";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee-2 .customization2_attendee_further-data_custom-question-1 .customization2_attendee_further-data_custom-question_radio-line-2 p.vv-control-label:after{
    content: "Menù vegetariano";
    font-size: 14px;
}

vv-questions .customization2_attendee-state_edit .customization2_attendee-2 .customization2_attendee_further-data_custom-question-2 .customization2_attendee_further-data_custom-question_label:after{
    content: "Intolleranze (optional)";
    font-size: 14px;
}

.custom_terms_checkbox .customization2_booking-terms_text:after {
    content: "Ho preso visione del fatto che l’evento avrà luogo in ottemperanza ai regolamenti anti Covid del Land della Sassonia vigenti al momento dell’evento stesso. Sarà mia cura poter esibire tutti i certificati necessari il giorno dell’evento.";
    font-size: 14px
}

.customization2_booking-terms_text:after {
    content: "Presto il mio consenso per le seguenti condizioni:";
    font-size: 14px
}

.customization2_booking-terms_custom-term-1:after {
    content: "Videoriprese e foto";
    font-size: 14px;
}

.customization2_booking-terms_custom-term-2:after {
    content: "Privacy";
    font-size: 14px;
}

.customization2_booking-terms_custom-term-3:after {
    content: "Compliance";
    font-size: 14px;
}

